.main {
color: white;
}
/* 
.seecs{
  text-decoration: none;
  font-size: large;
  margin-top: 1rem;
}

.elasticsearch{
  color: black;
  margin-top: 5rem;
  }
.elasticsearch .estitle{
font-size: xxx-large;
font-weight: inherit;
}
.elasticsearch .esdesc{
  margin-top: revert;
  } */

  @media screen and (min-width: 821px) and (max-width: 1024px){
    .maincontent h1{
      font-size: 2rem;
    }
.maincontent .btns{
  margin-left: 2rem;
}}
@media screen and (min-width: 1024px) and (max-width: 1100px){
  .maincontent h1{
    font-size: 3rem;
  }
  .maincontent .btns{
    margin-left: 7rem;
  }
  }
  @media screen and (max-width: 820px){
.maincontent h1{
  font-size: 2rem;
}
.maincontent p{
  font-size: 1rem;
}
.maincontent .btns{
  margin-left: 2rem;
  width: max-content;
}
}