.main {
color: white;
}
.bluebg {
  background-color: #101c3f;
  border-bottom-right-radius: 120px;
  padding-bottom: 2rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:2rem;
}
.content .row{
  width: inherit;
}
.maincontent {
  text-align: center;
}
.maincontent h1{
    font-size: 4rem;
    line-height: 1.1944444444;
}
.maincontent p{
  padding: 1rem;
  text-align: center;
  font-size: large;
}
.maincontent .btns{
  display: flex;
  align-items: center;
  margin-left: 12rem;
}
.btns .btn1{
  margin-right: 20px;
  padding: 1rem;
  font-size: large;
  font-weight: 600;
}
.btns .btn2{
  background: transparent;
  border: 2px solid white;
  padding: 1rem;
  font-size: large;
  font-weight: 600;
}
.patterncontainer{
z-index: 0;
position: absolute;
width: 1200px;
left: 0;
right: 0;
margin: 0 auto;
}
.leftpattern{
background: no-repeat url('https://images.contentstack.io/v3/assets/bltefdd0b53724fa2ce/blt058a8f7113164d01/64dbb61…/hero-pattern-left.svg');
background-size: 100%;
width: 600px;
height: 755px;
position: absolute;
}
.righttpattern{
  background: no-repeat url('https://images.contentstack.io/v3/assets/bltefdd0b53724fa2ce/blt2e4debc8effbb13a/64dbb62…/hero-pattern-right.svg');
  background-size: 100%;
  width: 600px;
  height: 755px;
  position: absolute;
  }

  .image{
  position: relative;
  z-index: 1;
  margin-top: 5rem;
}
.mainimage{
  width: 100%;
  max-width: 960px;
}

.logocontainer{
position: relative;
z-index: 1;
}
.logocontainer h2{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

.logocontainer .logos{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logos .logo{
  flex: 0 0 20%;
    max-width: 15%;
}
.seecs{
  text-decoration: none;
  font-size: large;
  margin-top: 1rem;
}

.elasticsearch{
  color: black;
  margin-top: 5rem;
  }
.elasticsearch .estitle{
font-size: xxx-large;
font-weight: inherit;
}
.elasticsearch .esdesc{
  margin-top: revert;
  }

  @media (min-width: 992px){
 .patterncontainer .rightpattern {
    display: block;
    right: -17%;
}
.patterncontainer .rightpattern {
  display: block;
  left: -22%;
}
}