.nav_head{
    padding: 1rem;
    font-size: larger;
    background-color: #101c3f;
}
.nav_head a{
    color: white;
}
.nav_head a:hover{
    color: rgb(13, 110, 253);
}
.card_pm{
    width: 20rem;
    border: none;
}

.card-header{
    border: none;
    background-color: rgba(33, 37, 41, 0.03);
    padding-top: 1rem;
}

.sections{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.section1{
    display: flex;
    padding: 1rem;
}
.nav_col{
    display: flex;
    justify-content: space-around;
}
.card{
    border: none;
    padding: 1rem;
}
.subitem_content p{
    font-size: large;
}
.subitem_content ul{
    list-style: none;
    padding-left: 0;
}

.subitem_content ul li{
    padding: 0.4rem 0;
}
.subitem_content ul li a{
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    color: rgb(13, 110, 253);
}
.card_body{
    border: none;
    background-color: rgba(33, 37, 41, 0.03);
}
.card_footer{
    border: none;
    background-color: rgba(33, 37, 41, 0.03);
}
.tertiary_btn{
    color: rgb(13, 110, 253);
    font-size: larger;
    font-weight: 500;
}